<!doctype html>
<html lang="en">
	<head>
		<title>Sport Equipment</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<header>
		{% if user.username %}
			Welcome {{ user }} - 
			<a href="/">Home</a> -
			<a href="/logout">Logout</a>
		{% else %}
		 	<a href="/">Home</a> 
		{% endif %} 
		<h1>Sport Equipment</h1>
	   </header>
		{% block "content" %}
			<h2>Hello!</h2>
			<p>Päivää</p>
		{% endblock "content" %}
	</body>
</html>
