{% extends "sports/base.html" %}

{% block "content" %}
	<h3>Welcome!</h3>
	{% for equipment in object_list %}
		<p>
			<a href="/equipment/{{ equipment.pk }}">{{ equipment.name }}</a>
			<b>Created: </b>{{ equipment.created }}
			<b>Modified: </b>{{ equipment.modified }}
			{% if equipment.manufacturer %}
				<a href="/manufacturer/{{ equipment.manufacturer.pk }}">{{ equipment.manufacturer }}</a>
			{% endif %}
		</p>
	{% empty %}
	    <p>No equipment added yet.</p>
	{% endfor %}
	<p><a href="/equipment/new">Add equipment</a></p>
	<p><a href="/manufacturer/new">Add manufacturer</a></p>
{% endblock "content" %}
